<div id="product-<%= product.slug %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <%= fa_icon :times, 'aria-hidden': true %>
        </button>
        <h3 class="modal-title"><%= product.name %></h3>
      </div>
      <div class="modal-body">
        <%= render 'products/product', product: product %>
      </div>
    </div>
  </div>
</div>
