<h1 class="text-center"><%= t '.title', zipcode: params[:zipcode] %></h1>

<% if @supermarkets.present? %>

<div id="supermarkets" class="row">
  <% @supermarkets.each do |supermarket| %>
    <div class="col-md-4 col-xs-12 col-sm-6">
      <div class="form-group supermarket">
        <%= link_to supermarket do %>
          <img src="<%= supermarket.image_url %>" alt="<%= supermarket.name %>" class="img-responsive" />
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% else %>
  <div class="alert alert-info"><h3 class="no-margin"><%= t '.not_found' %></h3></div>
<% end %>
