<h1 class="text-center"><%= t '.title', name: @supermarket.name %></h1>
<hr>

<% if @products.present? %>

<div id="products" class="row">
  <% @products.decorate.each do |product| %>
    <div class="col-md-4 col-xs-12 col-sm-6">
      <div class="form-group product text-center">
        <div class="row">
          <div class="col-md-12">
            <div data-toggle="modal" data-target="#product-<%= product.slug %>">
              <%= render 'products/product', product: product %>
            </div>

            <div class="row">
              <div class="col-md-12 text-center" data-product-code="<%= product.slug %>">
                <button id="remove-product-<%= product.slug %>" class="remove-to-cart btn btn-sm btn-danger bs-tooltip" title="<%= t '.button.remove' %>">
                  <%= fa_icon :minus %>
                </button>

                <button id="add-product-<%= product.slug %>" class="add-to-cart btn btn-sm btn-success bs-tooltip" title="<%= t '.button.add' %>">
                  <%= fa_icon :plus %>
                </button>
              </div>
            </div>

          </div>
        </div>
        <%= render 'modal', product: product %>
      </div>
    </div>
  <% end %>

  <h3><%= t '.cart.title' %></h3> <hr />

  <div class="row">
    <div class="col-md-12">
      <ul id="cart_products" class="list-group">
        <%= render 'shared/cart', products: @cart_products %>
      </ul>
    </div>
  </div>
</div>

<% else %>
  <div class="alert alert-info"><h3 class="no-margin"><%= t '.not_found' %></h3></div>
<% end %>
