<% if products.present? %>
  <% products.decorate.each do |product| %>
    <li class="list-group-item">
      <h5>
        <div data-product-code="<%= product.slug %>">
          <span class="destroy-to-cart text-danger pull-left">
            <%= fa_icon :times %>
          </span>

          <%= product.name %>

          <small><%= product.amount_to_currency %> / <%= product.quantity_unit %></small>

          <b><%= product.total_to_currency(session) %></b>

          <span class="add-to-cart btn btn-xs btn-success pull-right">
            <%= fa_icon :plus %>
          </span>

          <div class="pull-right text-center" style="padding-top:4px;width:35px;">
            <%= product.cart_quantity(session) %>
          </div>

          <span class="remove-to-cart btn btn-xs btn-danger pull-right">
            <%= fa_icon :minus %>
          </span>
        </div>
      </h5>
    </li>
  <% end %>
  <li class="list-group-item">
    <div class="text-right"><h3><%= cart_total(products) %></h3></div>
  </li>
<% else %>
  <li class="alert alert-info"><%= t '.not_found' %></li>
<% end %>
