<%= form_tag supermarkets_path, method: :get, id: 'form-search-by-zipcode' do %>
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <%= fa_icon :times, 'aria-hidden': true %>
          </button>
          <h3 class="modal-title"><%= t '.title' %></h3>
        </div>
        <div class="modal-body">
          <%= text_field_tag :zipcode, nil, class: 'form-control input-lg no-margin text-center', data: { mask: :cep } %>
        </div>
        <div class="modal-footer">
          <div class="col-sm-offset-1 col-sm-10">
            <button class="btn btn-block btn-lg btn-primary">
              <%= fa_icon :send %>
              <%= t '.button' %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
