<h1 class="col-sm-offset-2 col-sm-8">
  <%= t '.slogan' %> <br />
  <small><%= t '.choose' %></small>
</h1>
<div class="col-sm-12 text-center">
  <button class="btn btn-lg btn-success" data-toggle="modal" data-target=".bs-example-modal-sm">
    <%= fa_icon :'shopping-cart' %> <%= t '.button.buy' %>
  </button>
</div>

<%= render 'form_modal' %>
