<div class="text-center thumbnail no-margin" style="margin-bottom:7px">
  <img src="<%= product.image_url %>" alt="<%= product.name %>" class="img-responsive" style="height:250px" />
  <h5>
    <div><%= product.name %></div>
    <small><%= product.amount_to_currency %> / <%= product.quantity_unit %></small>
  </h5>
</div>
