<!doctype html>
<html lang="en">
<head>
  <title><%= ENV['APP_NAME'] %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/assets/favicon.ico' %>
</head>
<body>
<div id="loading">
  <div class="mask"></div>
  <div class="spiner">
    <%= fa_icon :refresh, class: :'fa-spin' %>
    <p><%= t '.loading' %></p>
  </div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only"><%= ENV['APP_NAME'] %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag '/assets/logo-white.svg' %>
      <% end %>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 main">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
